.content {
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding-right: 1rem;
  scrollbar-gutter: stable;
}

/* Content specific styles */
.content__title {
  color: var(--black);
  border-bottom: 1px solid var(--off-black);
  margin-bottom: 1rem;
}

.content__heading {
  color: var(--off-black);
  border-bottom: 1px solid var(--dark-grey);
  padding-bottom: 0.25rem;
  margin-bottom: 0;
}

.content__subheading {
  margin-top: 0.5rem;
  color: var(--black);
  border-left: 2px solid var(--grey);
  padding-left: 0.5rem;
  margin-bottom: 0;
}

.content__body {
  margin-top: 0.5rem;
  line-height: 1.25;
}

.content__list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.content__list-item {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.content__link {
  color: var(--dark-grey);
  transition: color 1s;
}

.content__link:hover {
  color: var(--light-grey);
}

/* Custom scrollbar styles */
.content::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
}

.content:hover::-webkit-scrollbar-track {
  background: var(--dark-grey);
}

.content:hover::-webkit-scrollbar-thumb {
  background: var(--light-grey);
}

.content:hover::-webkit-scrollbar-thumb:hover {
  background: var(--off-white);
}
