.footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.9rem;
  border-top: 2px solid var(--blood-red-bright);
  background-color: var(--light-grey);
}

.footer__text {
  margin: 1rem 0;
  padding: 0 1rem;
  color: var(--off-black);
}
