.main {
  grid-area: main;
  overflow: hidden;
  padding: 2rem;
  background-color: var(--white);
  /* box-shadow: inset 10px 30px 30px rgba(0, 0, 0, 0.3),
    inset -10px -30px 30px rgba(0, 0, 0, 0.3); */
}
